article p{
	line-height:1.8;
}

article h2{
	margin-bottom: 10px;
}

article p.rlink{
	font-size: 1.2em;
	text-align:right;
}

article p.rlink a{
	color:#dd4400;
	text-decoration: underline;
}

article p.llink{
	font-size: 1.2em;
	text-align:left;
}

article p.llink a{
	color:#dd4400;
	text-decoration: underline;
}

article li{
	font-size:1.6em;
	margin-left:40px;
}
article li li{
	font-size:0.9em;
	margin-left:20px;
}

article ul{
	margin-top:15px;
	list-style-type: square
}
article ul ul{
	margin-top:5px;
	margin-bottom:5px;
	list-style-type: disc
}
article h3{
	margin-top:40px;
	margin-bottom:10px;
	font-size:2.0em;
	border-left: 1ex solid #004;
	padding-left:1ex;
}
article h4{
	margin-top:5px;
	margin-left:20px;
	font-size:1.4em;
	font-weight:bold;
}

